.student {
    position: relative;
    width: 100%;
    height: calc(100vh - 59.4px);
}

.student-header {
    margin-top: 20px;
    position: relative;
    left: 60%;
    height: 50px;
    width: max-content;
}

.student-header > input {
    padding-left: 20px;
}

.student-header > select {
    background: transparent;
    width: 100px;
    appearance: none;
    border-radius: 5px;
    margin-left: 30px;
}

.student-list {
    height: calc(100% - 70px);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.student-list td > input {
    width: 100%;
}

.schedule {
    width: max-content;
    height: 450px;
    margin: auto;
}
